<!DOCTYPE html>
<html>
<head>
    <title>Demo7</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<form action="/insert" method="post" enctype="application/x-www-form-urlencoded">

    <div>tieude: <input name="tieude" placeholder="nhập tiêu đề..."></div>
    <div>noidung: <input name="noidung" placeholder="nhập nội dung..."></div>
    <div>ngaythang: <input name="ngaythang" placeholder="nhập ngày tháng..."></div>
    <div>links: <input name="links" placeholder="nhập link..."></div>

    <button type="submit">Insert</button>
</form>
</body>
</html>
